.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 1rem;

  .header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
