.back-button {
  display: inline-block;
  border: none;
  padding: 0 2rem;
  margin: 0;
  text-decoration: none;
  background: black;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: 150ms ease-in-out, transform 150ms ease;
}

.back-button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.back-button:active {
  transform: scale(0.99);
}
