@font-face {
  font-family: 'GameOfThronesFont';
  src: local('GameOfThronesFont'), url('./assets/fonts/GameOfThronesFont.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
  background-color: black;
}

.got-font {
  font-family: 'GameOfThronesFont';
}
