.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/img/trono-de-hierro.jpg'); /* Grabs the image from assets/img */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  .home-title {
    font-family: 'GameOfThronesFont';
    font-size: 7rem;
    text-shadow: 0 0 0.5rem black;
  }
}
